---
layout: default
---

<div class="about-col-wrapper">
  
  <div class="about-col about-col-1">

    {% if site.github_username %}
    <!-- <img class="user-picture" src="https://github.com/{{ site.github_username }}.png" alt="{{ site.author }}"> -->
    <img class="user-picture" src="/{{ site.image }}" alt="{{ site.author }}">
    {% endif %}

    <h3>Contact Me @ </h3>

    {% include contactlist.html %}

  </div>
  <article class="about-col about-col-2" itemscope itemtype="http://schema.org/BlogPosting">

    <h1>{{ page.title }}</h1>
    
    <h3>$ <span id="txt-rotate" data-period="2000"
        data-rotate='[
      {% for txt in site.typing_text %} 
        "{{txt}}"
         {% if forloop.last %}{% else %},{% endif %}
      {% endfor %}
      ]'>
      </span><span id="cursor">|</span></h3>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </article>
</div>
